# RANGE

- range(start,end,step) #start=1, end=required argument, step=1

In [8]:
a=range(1,10)
print(type(a))

<class 'range'>

In [9]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [11]:
range(5)

range(0, 5)

In [12]:
list(range(5))

[0, 1, 2, 3, 4]

In [13]:
range(10,1)

range(10, 1)

In [14]:
list(range(10,1))

[]

In [15]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# WAP TO PRINT 1 - 10 Using For Loop

In [16]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

# WAP to print 1-10 every second value using for loop

In [18]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

# WAP TO PRINT 10 - 1 Using For Loop

In [19]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

- Ascending eg. 1-10 start<end eg. 1,11 ---> step=1
- Descending e.g 10-1 start>end eg. 10,0 --->step=-1

# WAP TO PRINT FACTORIAL USER ENTER ANY NUMBER

factorial (!)
5!=5*4*3*2*1 = 120

5!=1*2*3*4*5 = 120

In [20]:
n = int(input("Enter a Number :- "))
f=1
for i in range(1,n+1):
    f=f*i
print(f"Factorial of {n} is {f}")

Enter a Number :- 5
Factorial of 5 is 120

#### Write a Program to Add n Natural Number.

In [36]:
#User Input
n=int(input("Enter a Number :- "))
tot=0
for i in range(1,n+1):
    tot=tot+i
print(f"The Sum of {n} is {tot}")

Enter a Number :- 5
The Sum of 5 is 15

# ITERATION OVER DATATYPES

In [21]:
x=["one","two","three","four","five"]

In [22]:
len("asif")

4

In [23]:
len(x)

5

In [24]:
list(range(0,len(x)))

[0, 1, 2, 3, 4]

In [25]:
#Indexing ke madad se
for i in range(0,len(x)):
    print(x[i])

one
two
three
four
five

In [26]:
for i in x:
    print(i)

one
two
three
four
five

In [27]:
a=(11,12,13,14,15)
for i in range(len(a)):
    print(a[i])

11
12
13
14
15

In [28]:
for i in range(len(a)):
    print(a[i], end=" ")

11 12 13 14 15

In [29]:
b ="python is fun"
for i in range(len(b)):
    print(b[i])

p
y
t
h
o
n

i
s

f
u
n

In [30]:
z=["hey","now","hello","my","world"]

for i in z:
    print(i)

hey
now
hello
my
world

# DICTIONARY

In [32]:
d={"a":10,"b":20,"c":30,"d":40}

for i in d.keys():
    print(i)

a
b
c
d

In [33]:
for i in d.values():
    print(i)

10
20
30
40

In [34]:
for i in d.items():
    print(i)

('a', 10)
('b', 20)
('c', 30)
('d', 40)

In [35]:
for i,j in d.items():
    print(i,j)

a 10
b 20
c 30
d 40

#### Swapping Variables

In [37]:
x=5
y=10

In [38]:
x,y=y,x

In [39]:
x

10

In [40]:
y

5

In [41]:
x=5
y=10

In [42]:
z=x
x=y
y=z

# FIBONACCI SERIES

-  The Fibonacci Series is a Series of numbers where a number is the addition of last two numbers. Starting with 0 and 1.
-  The Fibonacci Sequence : 0,1,1,2,3,5,8,13,21,34,55.....and so on

Fibo PPt

x=0
y=1

loop(n): 
         z<----x+y
         x<----y
         y<-----x+y

In [1]:
x=0
y=1
for i in range(10):
    z=x+y
    x=y
    y=z
    print(z,end=" ")

1 2 3 5 8 13 21 34 55 89

In [2]:
n=int(input("Enter a Series you want :- "))
x=0
y=1

for i in range(n+1):
    print(x,end=" ")
    z=x+y
    x=y
    y=z

Enter a Series you want :- 10
0 1 1 2 3 5 8 13 21 34 55

#### Difference Between For Loop And While Loop

-  For Loop is used when we have definite iteration
-  WHile Loop is used when we have infinite iteration

-  For Loop is faster than while loop

-  For Loop can iterate through a collection.
-  WHile loop simply loop untill the condition become false.

-  Syntax:- for i in range()
-  Syntax:- while (condition)